body {
  background-color: rgb(46, 147, 46);
}

h1 {
  background-color: darkmagenta;
  font-family: fantasy;
}

ul {
  background-color:darkgoldenrod;
  font-size: 50px;
}

#redWood {
  background-color: darkred;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#maple {
  background-color: peachpuff;
  font-family: 'Times New Roman', Times, serif
}

#weepingWillow {
  background-color: darksalmon;
  font-family: cursive;
}

.the-pile > p {
  font-size: 2em;
}